body {
    margin: 0;
  }
  h1 {
    margin: 0;
    padding: 10px 0 10px 0;
    color: black
  }
  h2 {
    color: black
  }
  div.block {
    display: block;
    padding: 30%;
    background-color: rgb(200, 200, 200);
  }
  img {
    width: 70%
  }