* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.sideber {
  width: 20%;
  margin: 10px 0 10px 0;
}

.sideber ul {
  margin: 0;
  padding: 0 10px 0 10px;
}

.sideber li {
  display: block;
  margin: 0 0 5px 0;
  text-align: right;
  color: rgb(100, 90, 120);
  padding: 5px 5px 5px 5px;
  background-color: rgb(200, 200, 200);
}

.content {
  width: 80%;
}

h1 {
  text-align: center;
   {
  }
}

.a ul {
  list-style-position: inside;
}

.a ol {
  list-style-position: inside;
}

.b ul {
  list-style-position: inside;
}

.b ol {
  list-style-position: inside;
}

.c ol {
  list-style-position: inside;
}

.c ul {
  list-style-position: inside;
}

.d ol {
  list-style-position: inside;
}

.d ul {
  list-style-position: inside;
}

.e ol {
  list-style-position: inside;
}

.e ul {
  list-style-position: inside;
}

.a {
  margin: 5px 5px 5px 5px;
}

.b {
  margin: 5px 5px 5px 5px;
}

.c {
  margin: 5px 5px 5px 5px;
}

.d {
  margin: 5px 5px 5px 5px;
}

.e {
  margin: 5px 5px 5px 5px;
}
